---
---


<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}
  <div class="container">

    <div class="row gy-3 my-3">
      <div class="col-24 col-md-12 col-sm-12"><img src="{{" /static/img/code.png" | prepend:site.baseurl}}" style="width: 200px;" alt="buy a coffe" /></div>
      <div class="col-24 col-md-12 col-sm-12">请我喝咖啡</div>
    </div>
    <footer>
      {% include footer.html %}
    </footer>
    <br><br>
  </div>
  <script type="text/javascript" charset="utf-8">
    $(function () {


    })

  </script>
</body>

</html>