---
permalink:  /conference/
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="container">

      <!-- title and fullname -->
      <div class="page-header" id="conf-title">
        <div class="row">
          <div class="col-sm-12">
            <h1><span id="conf-title-href"></span></h1>
            <h3 id="conf-full-name"> </h3>
          </div>
        </div>

        <!-- tag -->
        <div class="row">
          <div class="col-sm-12">
            <span id="conf-subs" title="Conference subjects"></span>
          </div>
        </div>
      </div>


      <div id="page-content">
        <!-- keys -->
        <div id="conf-key-facts" class="row g-1">
          <div class="col-12">
            <img src="{{site.baseurl}}/static/img/084-calendar.svg" class="badge-link" />
            <span id="conf-date"></span>.
          </div>
          <div class="col-12">
            <img src="{{site.baseurl}}/static/img/072-location.svg" class="badge-link" />
            <a id="conf-place" target="_blank" nohref></a>.
          </div>
          <div class="col-12" id="conf-link">
            <img src="{{site.baseurl}}/static/img/203-earth.svg" class="badge-link" />
            <a id="conf-website" target="_blank" nohref></a>
          </div>
        </div>


        <div id="conf-deadline-info" class="row">
          <!-- 薪资 -->
          <div class="meta deadline col-12 col-md-6">
            {% if conf.price %} 薪资:{{conf.price}} {% else %}{% endif %}
          </div>
          <div id="conference-deadline" class="calendar meta col-sm-12 col-md-6"></div>

          <!-- source -->
          <div class="meta col-12 col-md-6"><span class="fw-semibold"> 消息来源:</span> </div>
          <div class="meta col-sm-12 col-md-6"><span class="msg-source"></span></div>

          <div class="meta col-sm-12 col-md-6"><span class="fw-semibold"> 截止日期:</span></div>
          <div class="local-timezone-hide meta col-sm-12 col-md-6"> <span class="deadline-local-time"></span></div>
        </div>

        <div id="conf-detail" class="row">
          <div class="meta deadline col-24 col-md-12 col-sm-12" id="conf-detail-content"></div>
        </div>

        <!-- countdown timer -->
        <div id="conf-deadline-timer" class="row">
          <div id="conf-timer" class="col-12"></div>
        </div>

      </div>
        <hr>
        <footer>
          {% include footer.html %}
        </footer>
        <span class="local-timezone"></span>
        <span class="local-time"></span>
    </div>
    <script type="text/javascript" charset="utf-8">
    $(function() {
        var url = new URL(window.location);
        var conf = url.searchParams.get('id');

        {% include load_data.js %}
        {% include utils.js %}
          
        
        addUtcTimeZones();
        try {
          var local_timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
          $('.local-timezone').text(local_timezone.toString());
        }
        catch(err) {
          $('.local-timezone-hide').hide();
        }

        {% for conf in site.data.conferences %}
            if (conf == "{{ conf.id }}") {

              $('#conf-title-href').text("{{conf.title}} {{conf.year}}");
              $('#conf-title-href').attr('href', "/conference?id={{conf.id}}");
              // set badges
              var subs = '{{conf.sub}}'.split(',');
              for (let i = 0; i < subs.length; i++) {
                var sub = subs[i].replace(" ", "");
                var sub_element = document.createElement('span');
                sub_element.className = "conf-sub conf-" + sub;
                sub_element.textContent = sub2name[sub];
                $('#conf-subs').append(sub_element);
              }
              // other
              $('#conf-date').text("{{conf.date}}");
              $('#conf-place').text("{{conf.place}}");

              // place
              {% if conf.place !='Online' %}
                $('#conf-place').attr('href', "https://ditu.amap.com/search?query={{conf.place}}")
              {% else %}
                {% if conf.link %}
                  $('#conf-place').attr('href', "{{conf.link}}")
                {% else %}
                  $('#conf-place').attr('href', "#")
                {% endif %}
              {% endif%}

              // link
              {% if conf.link %}
                $('#conf-website').text("{{conf.link}}");
                $('#conf-website').attr('href', "{{conf.link}}");
              {% else %}
                $('#conf-link').hide();
              {% endif %}

              // fullname
              {% if conf.full_name %}
                {% if conf.full_name!= conf.title %}
                  $('#conf-full-name').text("{{conf.full_name}}");
                {% endif %}
              {% endif %}

              // source
              {% if conf.source %}
                $('.msg-source').html("{{conf.source}}");
              {% endif %}

              // detail
              {% if conf.detail %}
                var conf_detail = "{{conf.detail}}";
                conf_detail = conf_detail.replace(/\#/g, "<br />");
                $('#conf-detail-content').html( "<br \>"+conf_detail);
              {% endif %}

              // deadline
              {% if conf.deadline == "TBA" %}
                $('#conf-timer').html("TBA");
                $('.deadline-time').html("TBA");
                $('.deadline-local-time').html("TBA");
              {% else %}
                // adjust date according to deadline timezone
                var timezone = {% if conf.timezone %}"{{conf.timezone}}" {% else %} "Asis/Shanghai" {% endif %};
                var confDeadline = moment.tz("{{conf.deadline}}", timezone)
  
                // add calendar 
                var conferenceDeadlineCalendar = createCalendarFromObject({
                  id:  '{{conf.id}}',
                  title: '{{conf.title}} {{conf.year}} deadline',
                  date: confDeadline.toDate(),
                  duration: 60,
                })
                document.querySelector('#conference-deadline').appendChild(conferenceDeadlineCalendar);

                // render countdown timer
                $('#conf-timer').countdown(confDeadline.toDate(), function(event) {
                  $(this).html(event.strftime('%D days %Hh %Mm %Ss'));
                });

                // convert deadline to local timezone
                try {
                  var localConfDeadline = moment.tz(confDeadline, local_timezone);
                  $('.deadline-local-time').html(localConfDeadline.toString());
                }
                catch(err) {
                  console.log("Error converting to local timezone.");
                }
              {% endif %}
            }
        {% endfor %}
    });
    {% include google_analytics.js %}
    </script>
  </body>
</html>
